img {
	width: 100%;

	/* border-radius: 1em; */
}
img.sticky {
	position: -ms-page;
	position: sticky;
	top: 0;
	width: 200px;
}
.main__img {
	position: relative;
  text-align: center;
  color: yellow;
  font-size: 50px;
}
.centered {
	position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
	width: 100%;
}
.cities__list,
.landmarks__list,
.famous__citizen {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
 
.city,
.landmark,
.citizen {
	min-width: 150px;
	flex: 1 1 17%;
}
.card {
	margin: 0 1em 1em o;
	padding: 1em;
	background-color: wheat;
	border-radius: 1em;
}

.card>img {
	width: 100%;
	border-radius: 1em;
}
